<div class="jumbotron">
  <div class="container">
    <div class="row"> 
      <div class="col-xs-12 col-sm-3 col-md-3">
        <img style="border-radius: 50%;width: 200px;height: 200px" src="http://wanderluxe.theluxenomad.com/wp-content/uploads/2014/10/http-www.urchinbali.comgallery.jpg" class="img-responsive img-box img-thumbnail"> 
      </div> 
      <div class="col-xs-12 col-sm-9 col-md-9">
        <h3><%= author.name %></h3>
        <h5>
          <i class="fa fa-envelope" aria-hidden="true"></i> |
          <i class="fa fa-github" aria-hidden="true"></i>
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-google-plus-square" aria-hidden="true"></i>
        </h5>
        <br>
        <p>Naturally, we know where Bali's newest restaurants are and what to order, so give that private chef a rest and check out these spanking new haunts.Naturally, we know where Bali's newest restaurants are and what to order, so give that private chef a rest and check out these spanking new haunts.</p>
      </div> 
    </div>
  </div>
</div>