<%= render 'banner' %>

<div class="container" style="margin-bottom: 40px">
	<h1><%= t('.last_articles') %></h1>
	<br>
	<div class="row">
	  <div class="row"> 
	    <% @posts.each do |post| %>
	      <% cache post do %>
	        <%= render 'post', post: post  %>
	      <%end%>
	    <%end%> 
	  </div>
	</div>

	<br>

	<% if user_signed_in? %>
		<%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
	<% end %>
</div>