
<%= render 'post_banner', post: @post   %>

<div class="container" style="margin-bottom: 30px">
  <%= markdown(@post.body) %>
</div>

<%= render 'author', author: @post.user %>
 
<%= render 'comments', post: @post %>

