.login_title{
	text-align: center;
	
}
.login_box {
	width: 400px;
	margin: 100px auto 0 auto;
	background-color: #eee;
	border-radius: 15px;
	padding: 20px;
	-webkit-box-shadow: 10px 10px 57px 14px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 10px 57px 14px rgba(0,0,0,0.3);
	box-shadow: 10px 10px 57px 14px rgba(0,0,0,0.3);
}
.line-smaller{
	width: 150px
}